body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container .menuNabBarContainer {
  background-color: #f50057;
}

.container .menuNabBarIcon {
  color: white;
}

.MuiAvatar-root-150.bigAvatar {
  width: 60;
  height: 60;
}

.MuiGrid-item-39 .colorPapel {
  margin: 20px;
}

div .leftItem {
  padding-left: 0px;
}

.boxDetailsList .listUserDetails {
  padding: 0px
}

div .iconInfo {
  margin-right: 10px;
  color: #f50357;
}

.container .topElelment {
  margin-top: 20px;
}

.linkStyle {
  text-decoration: none;
}

.userForm .eleTextField {
  margin: 20px 20px 20px 0;
}

.userForm .containeRowUser {
  margin: 0px; 
  padding: 0px;
}

.container .finalButton {
  margin: 20px 20px 20px 0px ;
}
